.contact-circle{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    padding: 0.4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-image-for-contact{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.contact-circle-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    text-decoration: none;

}