/* General Styles */
.drawer-main-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  left: 0;
  min-height: 0;
  background-color: rgba(30, 29, 29, 0.6);
}
.home-page-left-small-container-bg {
  height: 100%;
  position: relative;
}

/* Left small container */
.home-page-left-small-container {
  display: flex;
  flex-direction: row;
  background-color: #f8c2d4;
  height: 100%;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  border: 0.4rem solid white;
  border-left: none;
  padding-right: 4rem;
  padding-top: 2rem;

}
.home-page-left-small-c-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-page-left-small-c-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8rem;
}

.home-page-left-small-arrow-right {
  height: 1.8rem;
  width: 1.8rem;
  background-color: rgb(243, 105, 128);
  padding: 1rem;
  border-radius: 100%;
  object-fit: cover;
}
.home-page-left-small-container-tab{
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 0.25rem;
  font-family: "Itim", cursive;
  cursor: pointer !important;
}
.home-page-left-small-container-tab:hover {
  color: rgb(255, 103, 154) !important;
}

.home-page-left-small-container-tabs {
  list-style: none;
  display: flex;
  flex-direction: column;

}
.home-page-left-small-container-logo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 3rem;
  color: white;
  font-family: "Satisfy", cursive;
}
.home-page-left-small-container-tabs {
  flex: 7;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  gap: 2rem;
  text-align: start;
  justify-content: flex-start;
}

/* Styles for screens wider than 767px */
@media (min-width: 767px) {
  .drawer-main-container {
    width: 100%;
  }
}

/* Styles for mobile screens (less than 767px) */
@media (max-width: 767px) {
  .drawer-main-container {
    height: 100%;
    width: 100%;
  }
  .home-page-left-small-container-bg {
    height: 100%;
  }
  .home-page-left-small-container {
    display: flex;
    flex-direction: column;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border: none;
    justify-content: center;
    height: 100%;
  }
  .home-page-left-small-c-left {
    padding-top: 5rem;
    padding-right: 1rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .home-page-left-small-container-logo {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
  }
  .home-page-left-small-container-tabs {
    padding-left: 1rem;
    gap: 1rem;
  }
  .home-page-left-small-container-tab {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
  }
  .home-page-left-small-container-tab:hover {
    color: rgb(255, 103, 154) !important;
  }
}
