@import url("https://fonts.googleapis.com/css2?family=Itim&family=Kalam:wght@300;400;700&family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Kalam:wght@300;400;700&family=Satisfy&family=Titan+One&display=swap");
.home-page-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  background: linear-gradient(#ffffff, #fff0f5);
}

/* Right big container */
.home-page-right-big-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-start;
  justify-content: space-around;
  min-height: 0;
  gap: 2rem;
  z-index: 2;
}
.home-page-right-big-c-image-c {
  width: 34rem;
  height: 40.625rem;
  object-fit: cover;
}
.home-page-image-c {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
  perspective: 1000px;
  padding-right: 2rem;
  justify-content: center;
}
.home-page-right-big-c-details {
  flex: 1;
  padding-left: 3.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.home-page-details-hello {
  font-size: 3.5rem;
  color: #ff86ae;
  font-weight: 800;
}
.home-page-details-i-am {
  font-size: 3rem;
  color: #b3b0b1;
  font-weight: 700;
  padding-bottom: 2rem;
}
.home-page-sew {
  font-size: 3.5rem;
  color: #ff86ae;
  font-weight: 800;
}
.little-description-about-me {
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.home-page-software {
  color: #ff86ae;
}

.home-page-contact-circle-sction {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding-top: 3rem;
}
.home-page-right-big-c-image-c:hover {
}
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (max-width: 1050px) {
  .home-page-container {
    overflow-y: auto !important;
    height: 100%;
    position: relative;
  }

  .home-page-container::-webkit-scrollbar {
    display: none;
  }
  .home-page-right-big-container {
    display: flex;
    flex-direction: column;
  }
  .home-page-left-expand-mark {
    position: fixed !important;
    left: 1rem;
    bottom: 2rem;
  }
  .home-page-right-big-container {
    font-size: 1rem !important;
  }
  .home-page-right-big-c-details {
    padding-inline: 1rem;
    word-wrap: break-word !important;
    flex-wrap: wrap !important;
  }
  .home-page-details-hello {
    padding-top: 2rem;
    font-size: 1.5rem !important;
  }
  .home-page-details-i-am {
    font-size: 1.25rem !important;
  }
  .home-page-sew {
    font-size: 1.5rem !important;
  }
  .home-page-image-c {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    height: 50%;
    width: 100%;
    margin: auto;
  }
  .home-page-right-big-c-image-c {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .home-page-right-big-container {
    gap: 0 !important;
  }
  .home-page-contact-circle-sction {
    padding-bottom: 5rem;
  }
}
.home-page-left-expand-mark {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.3rem;
  border-radius: 100%;
  bottom: 3rem;
  right: 3rem;
  background-color: #ff86ae;
}

/* Animation keyframes */

@keyframes floatAnimation {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(100px, 300px) rotate(5deg);
  }
  50% {
    transform: translate(200, 410px) rotate(0deg);
  }
  75% {
    transform: translate(10px, 900) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }


  }
  
  /* Animation styles */
  .home-animations {
    position: absolute;
    z-index: 2; /* Ensure the images are behind other content */
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide any part of the images that go outside the container */
  }
  
  .sakura-1 , .sakura-2 , .sakura-3 , .sakura-4 , .sakura-5 , .sakura-6 {
    position: absolute;
    width: 50px; /* Adjust the size of the images as desired */
    height: 50px;
    animation: floatAnimation 10s ease-in-out infinite; /* Apply the animation */
  }
  
  /* Adjust the position and animation delay for each image */
  .sakura-1{
    left: 10%;
    bottom: 20%;
    animation-delay: 0s;
  }
  
  .sakura-2{
    left: 10%;
    top: 10%;
    animation-delay: 0s;
  }
  
  .sakura-4{
    left: 50%;
    top: 30%;
    animation-delay: 2s;
  }
  
  .sakura-3 {
    left: 70%;
    top: 50%;
    animation-delay: 4s;
  }
  .sakura-3 {
    left: 70%;
    top: 70%;
    animation-delay: 3s;
  }

  .sakura-5{
    left: 85%;
    top: 80%;
    animation-delay: 5s;
  }
  
  .sakura-6{
    left: 98%;
    top: 96%;
    animation-delay: 7s;
  }